@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}
.container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 16px 0;
}
#title{
  margin: 16px 0;
}
.input-label{
  font-size: 18px;
  margin: 0 16px;
  display: inline-block;
  width: 48px;
}
.value-input{
  margin: 16px 0;
  height: 36px;
  width: 250px;
  padding: 8px 16px;
  outline: none;
  font-size: 16px;
}
.btn{
  width: 200px;
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: #7ed6df;
  color: black;
  border-radius: 6px;
}
.btn:hover{
  cursor: pointer;
  background-color: #87e2ec;

}
#price{
  margin: 32px 0;
}
.crew-member{
  margin: 2px 0;
}